<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.ThymeleafMapper">

	<select id="getNum" resultType="Integer">
		select salary from employees where rownum = 1
	</select>
	
	<select id="getTxt" resultType="String">
		select first_name from employees where rownum = 1 
	</select>
	
	<!-- 	
	<select id="getDTO" resultType="BoardDTO">
		select * from tblBoard where rownum = 1
	</select>
	 -->
	 
	<select id="getDTO" resultType="dto">
		select * from tblBoard where rownum = 1
	</select>
	
	<select id="getNames" resultType="String">
		select first_name from employees where rownum &lt;= 10
	</select>

</mapper>