<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://me2.do/5BvBFJ57">
</head>
<body>

	<h1>Thymeleaf Fragment</h1>
	
	<h2>insert</h2>
	<div th:insert="~{inc/sub.html}"></div>
	
	<h2>replace</h2>
	<div th:replace="~{inc/sub.html}"></div>
	
	<hr>
	
	<!-- 확장자 생략 가능 -->
	<div th:insert="~{inc/sub}"></div>
	
	<!-- ~{} 생략 가능, but 비권장 -->		
	<div th:insert="inc/sub"></div>
	
	<hr>	
	
	<div th:insert="~{inc/sub2.html :: part}"></div>
	
	<hr>	
	
	<div th:insert="~{inc/sub2.html :: part2}"></div>
	
	<hr>	
	
	<div th:insert="~{inc/sub2.html :: owner('아무개', '010-1111-2222')}"></div>
	
	<div th:insert="~{inc/sub2.html :: owner('테스트', '010-3333-4444')}"></div>
	
</body>
</html>