<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://me2.do/5BvBFJ57">
</head>
<body>

	<h1>Thymeleaf</h1>
	
	<!-- 
	
		타임리프 연산자
		
		- 산술 연산자 > 동일
		- 비교 연산자 > 동일 + 영문
		- 논리 연산자 > 동일 + 영문
		- 삼항 연산자 > 동일
		- 문자열 연산자 > 동일
	
	-->
	
	<div>10 + 3 = 13</div>
			
	<div><span th:text="${a}"></span> + <span th:text="${b}"></span> = <span th:text="${a + b}"></span></div>		
	
	<div th:text="${a + ' + ' + b + ' = ' + (a + b)}"></div>
	
	<div th:text="${a} + ' + ' + ${b} + ' = ' + ${a + b}"></div>
	
	<div th:text="|홍길동|"></div>
	<div th:text="|${a}|"></div>
	
	<div th:text="|${a} + ${b} = ${a+b}|"></div>
	
	<hr>
	
	<div th:text="${a} + ${b}"></div>
	<div th:text="${a} - ${b}"></div>
	<div th:text="${a} * ${b}"></div>
	<div th:text="${a} / ${b}"></div>
	<div th:text="${a} % ${b}"></div>
	
	<hr>
	
	<div th:text="${a} > ${b}"></div>
	<div th:text="${a} >= ${b}"></div>
	<div th:text="${a} < ${b}"></div>
	<div th:text="${a} <= ${b}"></div>
	<div th:text="${a} == ${b}"></div>
	<div th:text="${a} != ${b}"></div>
	
	<hr>
	
	<div th:text="${a > 5} and ${b < 10}"></div>
	<div th:text="${a > 5} or ${b < 10}"></div>
	
	<hr>
	
	<div th:text="${a > 0} ? '양수' : '음수'"></div>
	
	<hr>
	
	<div th:text="${c} != null ? ${c} : '데이터 없음'"></div>
	<div th:text="${c} ? ${c} : '데이터 없음'"></div>
	<div th:text="${c} ?: '데이터 없음'"></div> <!-- Elvis 연산자 -->
	<div th:text="${c} ?: _">데이터 없음</div> <!-- No-Operation -->
	
</body>
</html>