<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://me2.do/5BvBFJ57">
</head>
<body>

	<h1>Thymeleaf Links</h1>
	
	<!-- 
	
		Link URL Expressions
		- @{}
		- 링크의 URL 표현
		a. 매개변수 처리 쉽다.
		b. Context Root Path가 자동으로 삽입
	
	-->
	
	<div><a href="/m7">이전 페이지</a></div>		
	<div><a href="/spring/m7">이전 페이지</a></div>	
	<div><a th:href="@{/m7}">이전 페이지</a></div>			
	
	<hr>
	
	<h3>QueryString, 매개변수</h3>	
	<div><a href="/m7?seq=100">이전 페이지</a></div>
	<div><a href="/m7?seq=${seq}">이전 페이지</a></div> <!-- 에러 -->
	<div><a th:href="@{/m7(seq=${seq})}">이전 페이지</a></div>
	
	<div><a href="/m7?seq=100&mode=add">이전 페이지</a></div>
	<div><a th:href="@{/m7(seq=${seq}, mode=${mode})}">이전 페이지</a></div>
	
	<hr>
	
	<!--  
	
		기본 웹(QueryString)
		- /m7?seq=10
		
		REST(Path Variable)
		- /m7/10	
	
	-->
	
	<div><a th:href="@{/m7/{seq}(seq=${seq})}">이전 페이지</a></div>	
	<div><a th:href="@{/m7/{mode}/{seq}(seq=${seq},mode=${mode})}">이전 페이지</a></div>	
	
</body>
</html>